/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.footer-bg {
  display: block;
  box-sizing: border-box;
  padding-top: 50px;
  margin-top: 80px;
  position: relative;
  border: 1px solid #000;
  background: #333;
  min-height: 600px;
  border-top: 20px solid #999;
  color: #666; }
  .footer-bg a {
    text-decoration: none;
    color: #666; }
    .footer-bg a:hover {
      color: #fff; }
  .footer-bg:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

.footer {
  border: 1px solid #f00;
  color: #fff;
  min-height: 300px;
  width: 100%; }

.partners {
  margin: 20px auto;
  padding: 15px;
  text-align: center; }
  .partners img {
    display: inline-block;
    margin: 10px;
    background: #ff0;
    width: 150px;
    height: 80px; }

.footer-column-one {
  border: 1px solid #ff0;
  min-height: 300px; }

.footer-column-two {
  border: 1px solid #fff;
  background: #333333;
  min-height: 300px; }

.footer-column-three {
  border: 1px solid #f00;
  min-height: 300px; }

.footer-logo {
  width: 250px;
  height: 50px;
  display: block;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: 0px 250px;
  background-size: 500px; }

dl.footer-address {
  list-style: none; }
  dl.footer-address dt {
    float: left;
    clear: left;
    width: 25px;
    margin-right: 5px; }
    dl.footer-address dt i {
      display: block;
      width: 25px;
      text-indent: -2500em;
      background: #000; }
    dl.footer-address dt:after {
      content: '.';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden; }
  dl.footer-address dd {
    margin-bottom: 3px; }

.credential {
  width: 253px;
  border: 1px solid #ff0;
  box-sizing: border-box; }

.credential, .social-media {
  margin: 0 auto; }

.social-media ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .social-media ul li {
    display: inline-block;
    float: left;
    margin: 5px; }
  .social-media ul:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

.facebook-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: 0px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .facebook-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: 0px -440px;
    background-size: 500px; }

.twitter-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -60px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .twitter-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -60px -440px;
    background-size: 500px; }

.googleplus-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -120px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .googleplus-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -120px -440px;
    background-size: 500px; }

.youtube-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -180px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .youtube-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -180px -440px;
    background-size: 500px; }

.instagram-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -240px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .instagram-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -240px -440px;
    background-size: 500px; }

.footer-bottom {
  display: block;
  background: #33cc33;
  width: 100%;
  margin-top: 50px;
  padding: 20px 0; }

.site-by {
  float: right; }

.copy-right {
  float: left; }
