/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.footer-bg {
  display: block;
  box-sizing: border-box;
  padding-top: 50px;
  margin-top: 80px;
  position: relative;
  border: 1px solid #ff0;
  background-image: url(../img/471853762.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  min-height: 1200px;
  border-top: 8px solid #33cc33; }
  .footer-bg a {
    text-decoration: none;
    color: #333; }

.footer {
  border: 1px solid #f00;
  min-height: 300px;
  position: absolute;
  top: 400px;
  width: 100%; }

.partners {
  margin: 20px auto;
  padding: 15px;
  text-align: center; }
  .partners img {
    display: inline-block;
    margin: 10px;
    background: #ff0;
    width: 150px;
    height: 80px; }

.footer-column-one {
  border: 1px solid #ff0;
  background: #fff;
  opacity: .7;
  min-height: 300px; }

.footer-column-two {
  border: 1px solid #fff;
  background: #333333;
  min-height: 300px; }

.footer-column-three {
  border: 1px solid #f00;
  background: #333333;
  min-height: 300px; }

.footer-logo {
  width: 100px;
  height: 50px;
  display: block;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: 0px -79px;
  background-size: 500px; }

ul.address {
  list-style: none; }

.social-media ul {
  list-style: none;
  border: 1px solid #fff;
  margin: 0;
  padding: 0; }
  .social-media ul li {
    display: inline-block;
    float: left;
    margin: 5px; }
  .social-media ul:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

.facebook-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: 0px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .facebook-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: 0px -440px;
    background-size: 500px; }

.twitter-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -60px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .twitter-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -60px -440px;
    background-size: 500px; }

.googleplus-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -120px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .googleplus-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -120px -440px;
    background-size: 500px; }

.youtube-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -180px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .youtube-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -180px -440px;
    background-size: 500px; }

.instagram-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -240px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .instagram-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -240px -440px;
    background-size: 500px; }

.footer-bottom {
  display: block;
  background: #33cc33;
  width: 100%;
  padding: 20px 0; }

.site-by {
  float: right; }

.copy-right {
  float: left; }
