/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.header {
  display: block;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 100; }
  .header a {
    text-decoration: none;
    text-align: center; }
  .header ul {
    list-style: none; }
  .header li {
    text-align: center; }
  .header .container {
    height: 100%; }

.offset {
  padding-top: 120px; }

.logo {
  width: 251px;
  height: 67px;
  border: 1px solid #f00;
  display: block;
  float: left;
  margin-top: 10px; }

#header-nav-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box; }
  #header-nav-container #navigation {
    margin: 0;
    padding: 0;
    display: block; }
    #header-nav-container #navigation:after {
      content: '.';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden; }
  #header-nav-container #navigation > li {
    float: left;
    display: block;
    position: relative;
    box-sizing: border-box; }
  #header-nav-container #navigation li a {
    display: block;
    padding: 10px 15px;
    background: #666;
    color: #999; }
    #header-nav-container #navigation li a:hover {
      color: #fff;
      background: #333; }
  #header-nav-container #navigation ul.sub-menu {
    display: none; }
  #header-nav-container #navigation li.drop:hover ul.sub-menu {
    display: block;
    position: absolute;
    top: 43px;
    left: -40px; }
  #header-nav-container #navigation ul.sub-menu li {
    display: block; }
  #header-nav-container #navigation ul.sub-menu a {
    display: block;
    padding: 10px 15px;
    white-space: nowrap; }
  #header-nav-container #navigation li.drop {
    /*contents of list*/ }
  #header-nav-container:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }
