/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%; }

.span_3_of_4 {
  width: 74.6%; }

.span_2_of_4 {
  width: 49.2%; }

.span_1_of_4 {
  width: 23.8%; }

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%; }

.span_2_of_3 {
  width: 66.13%; }

.span_1_of_3 {
  width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%; } }

/*  GO FULL WIDTH BELOW 500 PIXELS */
@media only screen and (max-width: 770px) {
  .col {
    margin: 0 0 0 0%; }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
    width: 100%; } }

.span_6_of_6 {
  width: 100%;
  box-sizing: border-box; }

.span_5_of_6 {
  width: 83.06%;
  box-sizing: border-box; }

.span_4_of_6 {
  width: 66.13%;
  box-sizing: border-box; }

.span_3_of_6 {
  width: 49.2%;
  box-sizing: border-box; }

.span_2_of_6 {
  width: 32.26%;
  box-sizing: border-box; }

.span_1_of_6 {
  width: 15.33%;
  box-sizing: border-box; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 {
    width: 100%;
    box-sizing: border-box; } }

body {
  background: #fff;
  color: #000; }
  body a {
    text-decoration: none;
    color: #fff; }

/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.header {
  display: block;
  text-transform: uppercase;
  color: #232327;
  font-size: 15px;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 100; }
  .header a {
    text-decoration: none; }
  .header ul {
    list-style: none; }
  .header .container {
    height: 100%; }

.off-set {
  padding-top: 110px; }

.logo {
  width: 250px;
  height: 55px;
  display: block;
  float: left;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: 0px -195px;
  background-size: 500px; }

#header-nav-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box; }
  #header-nav-container #navigation {
    margin: 0;
    padding: 0;
    display: block; }
    #header-nav-container #navigation:after {
      content: '.';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden; }
  #header-nav-container #navigation > li {
    float: left;
    display: block;
    position: relative;
    vertical-align: bottom;
    margin-right: 20px; }
    #header-nav-container #navigation > li:last-child {
      margin: 0; }
    #header-nav-container #navigation > li:hover {
      cursor: pointer; }
  #header-nav-container #navigation > li > a {
    display: block;
    padding: 10px 9px; }
  #header-nav-container #navigation > li:hover > a {
    color: #fff;
    background: #2DBE2D;
    border-radius: 10px 10px 0px 0px; }
  #header-nav-container .donation-button {
    color: #fff !important;
    background: #9AFF2B;
    border-radius: 10px 10px 0px 0px; }
  #header-nav-container #navigation li a {
    display: block;
    text-decoration: none;
    color: #33cc33; }
  #header-nav-container #navigation > li a {
    /*overflow: hidden;
	    position: relative;
	    top: 48%;
	    transform: translateY(-48%);
	    font-weight: 400;*/
    display: block;
    border: none; }
    #header-nav-container #navigation > li a:hover {
      color: #fff; }
  #header-nav-container #navigation ul.sub-menu {
    display: none; }
  #header-nav-container #navigation li.drop:hover ul.sub-menu {
    display: block;
    position: absolute;
    top: 37px;
    left: -40px; }
  #header-nav-container #navigation .sub-menu > li {
    float: left;
    clear: left;
    padding: 0;
    margin: 0;
    width: 170px; }
  #header-nav-container #navigation .sub-menu > li a {
    display: block;
    background: #33cc33;
    color: #FFF;
    padding: 9px;
    text-transform: capitalize;
    font-weight: 300;
    width: 100%; }
    #header-nav-container #navigation .sub-menu > li a:hover {
      background: #2DBE2D; }
  #header-nav-container #navigation .sub-menu > li:first-child a {
    border-radius: 0px 5px 0px 0px; }
  #header-nav-container #navigation .sub-menu > li:last-child a {
    border-radius: 0px 0px 5px 5px; }
  #header-nav-container #navigation li.drop {
    /*contents of list*/ }
  #header-nav-container:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

/*/////Variables//////*/
/*/Numbers and colors/*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear-fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.footer-bg {
  display: block;
  box-sizing: border-box;
  padding-top: 130px;
  margin-top: 80px;
  position: relative;
  background-image: url(../img/471853762.jpg);
  background-repeat: none;
  background-size: cover;
  min-height: 800px;
  border-top: 8px solid #33cc33; }
  .footer-bg a {
    text-decoration: none; }

.footer {
  border: 1px solid #f00;
  min-height: 500px; }

.footer .container {
  background: #333333; }

.footer-column-one {
  border: 1px solid #ff0;
  background: #333333;
  min-height: 300px; }

.footer-column-two {
  border: 1px solid #fff;
  background: #333333;
  min-height: 300px; }

.footer-column-three {
  border: 1px solid #f00;
  background: #333333;
  min-height: 300px; }

.footer-logo {
  width: 100px;
  height: 50px;
  display: block;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: 0px -79px;
  background-size: 500px; }

.social-media ul {
  list-style: none; }
  .social-media ul li {
    float: left;
    margin: 5px; }
  .social-media ul:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

.facebook-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: 0px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .facebook-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: 0px -440px;
    background-size: 500px; }

.twitter-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -60px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .twitter-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -60px -440px;
    background-size: 500px; }

.googleplus-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -120px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .googleplus-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -120px -440px;
    background-size: 500px; }

.youtube-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -180px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .youtube-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -180px -440px;
    background-size: 500px; }

.instagram-icon {
  display: block;
  overflow: hidden;
  text-indent: -2000em;
  background-image: url(../img/sprites.png);
  background-repeat: none;
  background-position: -240px -380px;
  background-size: 500px;
  box-sizing: border-box;
  width: 60px;
  height: 60px; }
  .instagram-icon:hover {
    display: block;
    overflow: hidden;
    text-indent: -2000em;
    background-image: url(../img/sprites.png);
    background-repeat: none;
    background-position: -240px -440px;
    background-size: 500px; }

.footer-bottom {
  display: block;
  background: #333333;
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 20px 0; }

.site-by {
  float: right; }

.copy-right {
  float: left; }

body {
  font-size: 18px;
  font-family: sans-serif; }

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box; }
  .container:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
