/*/Numbers and colors/*/
/*/////Variables//////*/
/*/////Mixins//////*/
/*////Mixin With Arguments////*/
/*////Call Out A Mixin////*/
.clear_fix {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

#mobile-nav-container {
  display: block; }
  @media only screen and (min-width: 980px) {
    #mobile-nav-container {
      display: none; } }
