@import 'var';

.footer-bg{
	display: block;
	box-sizing: border-box;
	padding-top: 130px;
	margin-top: 80px;
	position: relative;
	//background-image: url(../img/525298037.jpg);
	background-repeat: none;
	background-position: top;
	//background-attachment: fixed;
	//background-position: $x $y;
	background-size: cover;
	min-height: 800px;
	border-top: 8px solid #33cc33;

	color: $white;
	a{
		text-decoration: none;
	}
}

.footer{
	border: 1px solid #f00;
	min-height: 500px;
}

.footer .container{
	background: $darkgray;
}

.footer-column-one{
	border: 1px solid #ff0;
	background: $darkgray;
	min-height: 300px;
}

.footer-column-two{
	border: 1px solid #fff;
	background: $darkgray;
	min-height: 300px;
}

.footer-column-three{
	border: 1px solid #f00;
	background: $darkgray;
	min-height: 300px;
}


.footer-logo{
	width: 100px;
	height: 50px;
	//border: 1px solid #f00;
	display: block;
	//float: left;
	margin-top: 10px;
	@include sprites(0px, -79px);

}



.social-media ul{
	list-style: none;

	li{ 
		float: left;
		margin: 5px;
	}
	&:after{ @include clearFix; }
}

.footer-bottom{
	display: block;
	background: $darkgray;
	position: absolute;
	bottom: 50px;
	width: 100%;
	padding: 20px 0;
	//opacity: 
}
.site-by{
	float: right;

}
.copy-right{
	float: left;
}