// @import 'reset';
@import 'var';
@import 'grid';

.sign-up-wrapper{
	background: #33cc33;
	padding: 10px;
}

.newsletter-sign-up-forms{
		margin: 0;
		padding: 0;
		// text-align: center;
		// background: $white;
	dt{
		display: block;
		padding: 5px;
		float: left;
		clear: left;
		width: 70px;
		margin-right: 5px;
		text-align: right !important;
	}
	dd{
		display: block;
		margin: 3px 0;
	}
	input[type="text"]{
		border: 1px solid #ccc;
		padding: 5px;
		
	}
	
	span{
		display: inline-block;

	}
}