// @import 'reset';
@import 'var';
@import 'grid';

.content-box{
	//background: #333;
	a{
		color: #333;
		
	}
}

.slider-wrapper{
	// display: block;
	// width: 100%;
	// max-height: 642px;
	// height: 100%;
	// box-sizing: border-box;
	position: relative;
	// border: 1px solid $white;
	background-color: #ccc;
}

.hotspots-wrapper{
		
	h2{
		text-align: center;
	}
}

.slider{
	display: block;
	min-height: 250px;
	height: 100%;
	width: 100%;
	background-image: url(../img/slider-img-01.JPG);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center top;
	
	border: none;
	@media only screen and (min-width: 600px){
		//background-position: 50% 90%;
		
		min-height: 600px;
		max-height: 500px;
		//border: 3px solid #f00;
	}
	
	a{
		position: absolute;
		bottom: 10%;
		right: 50%;
		color: $white;
		background: #33cc33;
		padding: 8px 12px;
		border-radius: 10px;
		text-transform: uppercase;
	}

} // temp.

.hotspots-wrapper{

}