// @import 'reset';
@import 'var';
@import 'grid';

.side-bar{
	// border: 1px solid #333;
	min-height: 500px;
	
	.sidebar-title{

	}

	section{
		display: block;
		margin-bottom: 20px;
		padding: 10px;
		box-sizing: border-box;
	}

	
} // end of .side-bar

.recent-news{
	ul{}
	li{}
	a{}
}

.seed-funds{

	img{
		display: block;
		width: 100%;
		height: 500px;
		background: #ff0;

	}
}